<div class="gs_blog_single ">
    <div class="max-w-screen-xl items-center justify-between mx-auto p-4">

        <!-- main blog -->
        <div class="flex flex-col md:flex-row gap-4">
            <div class="basis-8/12 my-5 md:p-5 rounded-md text-gray-200">
                <h1 class="text-2xl md:text-3xl text-gray-50 font-semibold">Max Sports: India’s Most Reliable Gaming
                    Platform
                </h1>
                <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                    <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full" width="35"> by
                    <span class="text-primary font-semibold">Admin</span>
                    in Jan 03, 2024
                    <div class="feature-img">
                        <img src="/assets/img/fa81b9538f.jpeg" class="w-full rounded" alt="">
                    </div>
                </div>

                <!-- content -->
                <div class="content-block-component ">

                    <p>In the fast-evolving world of online gaming and sports betting, finding a reliable platform that
                        delivers trust, speed, and efficiency can be a challenge. Enter Max Sports, India’s leading
                        gaming and sports platform, where technology meets excellence to redefine your gaming
                        experience. With a focus on providing players with seamless solutions, Max Sports is not just a
                        platform but a game-changer in the industry.
                    </p>
                    <h3>Reliability You Can Trust</h3>
                    <p>What sets Max Sports apart is its unwavering commitment to reliability. In an industry where
                        trust is paramount, Max Sports ensures that every player enjoys a transparent and fair gaming
                        experience. From secure payment gateways to robust data encryption, the platform takes every
                        precaution to protect its users. Whether you are a seasoned gamer or a first-time player, Max
                        Sports makes you feel secure with every click.
                    </p>
                    <h3>Lightning-Fast Transactions</h3>
                    <p>One of the standout features of Max Sports is its <strong>fastest deposit and withdrawal system</strong>. No more waiting endlessly to access your winnings! Max Sports ensures instant transactions, giving players a hassle-free experience. The platform’s user-friendly WhatsApp-based operations make it even easier to manage your account and enjoy uninterrupted gameplay.
                    </p>
                    <h3>Redefining the Gaming Experience</h3>
                    <p>Max Sports isn’t just about betting; it’s about revolutionizing how you play. The platform offers a diverse range of gaming options, covering popular sports like cricket, football, and basketball, as well as casino games for those who love a different thrill. Players can immerse themselves in live events, adding a dynamic edge to their gaming journey.
                    </p>

                    <h3>Why Choose Max Sports?</h3>
                    <ul>
                        <li><strong>Trustworthy Operations:</strong> Backed by robust systems, Max Sports ensures complete transparency.
                        </li>   
                        <li><strong>24/7 Support:</strong> Got questions? The dedicated customer support team is available around the clock on WhatsApp and Telegram.</li>
                        <li><strong>Tailored for India:</strong> Designed with Indian players in mind, the platform offers local solutions to cater to their specific needs.
                        </li>
                    </ul>

                   



                    <!-- match intro -->
                    <div
                        class="flex flex-col md:flex-row items-center bg-secondary rounded-md p-4 text-gray-50 border-b my-8 gap-3">
                        <div class="basis-1/3">
                            <img src="/assets/img/web2.png" alt="">
                        </div>
                        <div class="basis-1/2">
                            <div class="inner_div ">
                                <p class="font-semibold md:text-xl uppercase"><span class="text-primary">200%
                                    </span>Welcome
                                    Bonus up </p>
                                <ul class="features mt-3">
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Refreshingly Simple Mobile First Casino</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Tournaments & Prizes</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Weekly Live Casino Reload Bonus</li>
                                </ul>
                            </div>
                        </div>
                        <div class="basis-1/3 text-center">
                            <a href="/"
                                class="primary-btn px-10 py-3 text-sm uppercase font-semibold rounded-md bg-button ">Visit
                                Website</a>

                        </div>
                    </div>

                    <h3>Changing the Game for Players</h3>
                    <p>Max Sports empowers players to take control of their gaming journey. Its seamless interface, rapid payouts, and trustworthy environment make it the ultimate choice for anyone looking to elevate their gaming experience.
                    </p>
                    <p>Switch to Max Sports today and discover why it’s the most trusted gaming platform in India. Experience gaming like never before—secure, exciting, and rewarding. Your game, your way, only on Max Sports!
                    </p>

                </div>

                <hr class="my-10">
                <!-- related post -->
                <div class="section-title mb-5">
                    <h5 class="mt-10 text-secondary  text-xl font-bold uppercase"><span class="text-primary">Related
                        </span>Posts</h5>
                </div>

                <div class="grid grid-cols-2 md:grid-cols-3 gap-4 related-blog">
                    <div>
                        <img src="/assets/img/rela1.jpeg" class="w-full rounded-sm" alt="">
                        <div class="blog-body">
                            <h4 class="font-semibold mb-2 mt-2">India v New Zealand Second Test: Expert Predictions &
                                Analysis</h4>
                            <p class="text-sm text-gray-400">
                                Get expert predictions and analysis for the India vs New Zealand 2nd Test...</p>
                        </div>
                    </div>
                    <div>
                        <img src="/assets/img/rela2.jpeg" class="w-full rounded-sm" alt="">
                        <div class="blog-body">
                            <h4 class="font-semibold mb-2 mt-2">India v New Zealand Second Test: Expert Predictions &
                                Analysis</h4>
                            <p class="text-sm text-gray-400">
                                Get expert predictions and analysis for the India vs New Zealand 2nd Test...</p>
                        </div>
                    </div>
                    <div>
                        <img src="/assets/img/rela3.jpeg" class="w-full rounded-sm" alt="">
                        <div class="blog-body">
                            <h4 class="font-semibold mb-2 mt-2 link"
                                routerLink="australia-v-india-second-test-expert-predictions-and-analysis">India v New
                                Zealand Second Test: Expert Predictions & Analysis</h4>
                            <p class="text-sm text-gray-400">
                                Get expert predictions and analysis for the India vs New Zealand 2nd Test...</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="basis-4/12 p-0 md:p-3 sidebar">
                <!-- Top 3 recent -->
                <div class="bg-secondary rounded-md mt-5">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary  text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">Top 3</span> Recents</span> <span
                                class="after"></span></h5>
                    </div>

                    <div class="top_3_recent">
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/4 md:basis-1/3">
                                <img src="/assets/img/post-1-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-3/4 md:basis-1/2">
                                <a href="#" class="text-gray-50 font-bold text-md uppercase pr-2">Smell magic in the
                                    air. Or maybe barbecue</a>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>

                        <!-- two -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/4 md:basis-1/3">
                                <img src="/assets/img/post-2-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-3/4 md:basis-1/2">
                                <a href="#" class="text-gray-50 font-bold text-md uppercase pr-2">Grab your sword and
                                    fight the Horde</a>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>

                        <!-- three -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/4 md:basis-1/33">
                                <img src="/assets/img/post-3-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-3/4 md:basis-1/2">
                                <a href="#" class="text-gray-50 font-bold text-md uppercase pr-2">We found a witch! May
                                    we burn her?</a>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>


                    </div>

                </div>

                <!-- match intro -->
                <div class="text-center sticky_top bg-indigo-700 rounded-md p-4 text-gray-50 border-b mt-5">
                    <div class="animate-pulse">
                        <div class="basis-1/2 mb-2">
                            <img src="/assets/img/web2.png" width="200" style="margin: 0 auto;" alt="">
                        </div>
                        <div class="basis-1/2 mb-5 pb-2">
                            <div class="inner_div ">
                                <p class="font-semibold text-xl uppercase"><span class="text-primary">200%
                                    </span>Welcome
                                    Bonus up </p>
                                <ul class="features mt-3">
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Refreshingly Simple Mobile First Casino</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Tournaments & Prizes</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Weekly Live Casino Reload Bonus</li>
                                </ul>
                            </div>
                        </div>
                        <div class="basis-1/2 text-center">
                            <a href="/"
                                class="primary-btn px-10 py-3 text-sm uppercase font-semibold rounded-md bg-button ">Bet
                                Now</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>