.gs_websites {

    .inner_div_demo {
        flex-direction: column;
        justify-content: center;
        min-width: 312px;
    }
    .gs_faw button{
        text-align: left;
    }

    @media screen and (max-width: 768px) {
        .gs_list_websites img {
            height: 120px;
            object-fit: cover;
        }
    }
}