<div class="max-w-screen-xl items-center justify-between mx-auto p-4">
    <app-hero-section [title]="title"></app-hero-section>

    <div class="gs_all_blogs pb-0 py-16">
        <h2 class="text-center text-primary font-semibold mb-2 text-sm md:text-lg"># Welcome to The eSports & Gaming Site</h2>
        <div class="section-title mb-10">
            <h2 class="text-2xl md:text-3xl text-secondary text-center font-bold uppercase"><span>Check Letest Blogs5</span> </h2>
        </div>


        <!-- all blogs -->
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 gap-y-10 mb-10">
            @for(b of allBlogs; track b){
            <div class="md:basis-1/2">
                <div class="inner-post">
                    <img class="rounded-xl" src="{{b?.featured_id?.media_media}}"
                        alt="">

                    <div class="inner-body">
                        <div class="title text-secondary uppercase text-lg md:text-xl font-bold mt-5 link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">
                            {{b?.title}}
                        </div>

                        <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                            <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                width="35"> by
                            <span class="text-primary font-semibold">Admin</span>
                            in {{b?.date}}

                        </div>
                        <p class="text-sm text-gray-300 mb-5">{{b?.except}}...</p>
                        <button
                            class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                            More</button>
                    </div>
                </div>
            </div>

        }
        </div>

    </div>
</div>